<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.berkeley.cs169.tangrams"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:name=".GlobalVariables" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Tangrams"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".PlayActivity" android:screenOrientation="portrait"></activity>
        
        <activity android:name=".PlayNoOutlineActivity" android:screenOrientation="portrait"></activity>
        
        <activity android:name=".SettingsActivity" android:screenOrientation="portrait"></activity>
        
        <activity android:name=".LevelSelectActivity" android:screenOrientation="portrait"></activity>
        
        <activity android:name=".HighScoreActivity" android:screenOrientation="portrait"></activity>
        
        <activity android:name=".CreditsActivity" android:screenOrientation="portrait"></activity>
        
        <activity android:name=".OutlineActivity" android:screenOrientation="portrait"></activity>

    </application>
    <uses-sdk android:minSdkVersion="4" />

</manifest> 